

@utility callout {
  @apply border-none rounded-lg px-6 py-3 my-6;
}


@utility callout-title {
  @apply text-base flex items-center gap-2 font-semibold;
}

@utility callout-title-icon {
  svg {
    @apply w-4.5 h-4.5;
  }
}

@utility callout-content {
  @apply font-paragraph text-text-normal;

  p {
    @apply my-4;
  }
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"],
.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  .callout-title {
   color: var(--color-hint-foreground);
  }
  border-color: var(--color-hint-border);
  background-color: var(--color-hint-background);
}

.callout[data-callout="info"],
.callout[data-callout="note"],
.callout[data-callout="todo"] {
  .callout-title {
    color: var(--color-info-foreground);
  }
  border-color: var(--color-info-border);
  background-color: var(--color-info-background);
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  .callout-title {
    color: var(--color-success-foreground);
  }
  border-color: var(--color-success-border);
  background-color: var(--color-success-background);
}

.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"],
.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  .callout-title {
    color: var(--color-warning-foreground);
  }
  border-color: var(--color-warning-border);
  background-color: var(--color-warning-background);
}

.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"],
.callout[data-callout="danger"],
.callout[data-callout="error"],
.callout[data-callout="bug"] {
  .callout-title {
    color: var(--color-danger-foreground);
  }
  border-color: var(--color-danger-border);
  background-color: var(--color-danger-background);
}

.callout[data-callout="example"] {
  .callout-title {
    color: var(--color-example-foreground);
  }
  border-color: var(--color-example-border);
  background-color: var(--color-example-background);
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  .callout-title {
    color: var(--color-quote-foreground);
  }
  border-color: var(--color-quote-border);
  background-color: var(--color-quote-background);
}

@source inline("callout");
@source inline("callout-title");
@source inline("callout-title-icon");
@source inline("callout-content");